body {
  margin: 0px;
  background-color: #e0e0e0;
  font-family: "Ubuntu", sans-serif;
  padding-top: 60px;
  padding-bottom: 80px;
  position: relative;
  overflow-x: hidden;
}
html {
  height: 100%;
}
header {
  background-color: rosybrown;
  width: 100%;
  position: fixed;
  top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}
#login {
  color: black;
  line-height: 60px;
  margin-right: 2%;
  text-decoration: none;
}
#logo {
  height: 60px;
  width: 60px;
  margin-left: 1%;
}
footer {
  background-color: rosybrown;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 60px;
  display: flex;
}
.contact {
  width: 33%;
  padding-top: 22px;
  margin-left: 2%;
}
.us {
  text-decoration: none;
  color: black;
}

.footerline {
  width: 33%;
  text-align: center;
  margin-top: 25px;
  font-size: 10px;
}
.socialicons {
  width: 33%;
  text-align: right;
  margin-right: 1%;
}
#socialsites {
  height: 20px;
  width: 22px;
  padding-top: 22px;
  margin-right: 1px;
}