.body {
  padding-bottom: 80px;
  overflow-x: hidden;
  background-color: #e0e0e0;
  height: 100%;
  width: 100%;
  margin: 0;
}
* {
  font-family: 'Ubuntu', sans-serif;
}
html {
  height: 100%;
  width: 100%;
  margin: 0;
}
#logo-image {
  height: 100%;
  width: 60px;
}
.logo {
  margin-left: 1%;
}
#login{
  margin-right: 2%;
}
#login-form {
  display: flex;
  flex-direction: column;
}
.login-field {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
}
#login-button {
  margin: auto;
}
header{
  background-color:rosybrown;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contact {
  margin-left: 2%;
}
#social-media-images {
  margin-right: 2%;
}
#copyright-text {
  font-size: 10px;
}
.social-media-image {
  height: 20px;
  width: 22px;
}
footer {
  background-color: rosybrown;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 60px;
  display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.modal-backdrop.show {
  opacity: 0 !important;
}
.modal-backdrop{
  position: unset !important;
}

#btn1{
  color: white;
}