.div1 {
  padding-left: 18px;
}
#_img {
  width: 500px;
  height: 350px;
}
#row {
  border: 1px solid black;
  margin-top: 80px !important;
  width: 97%;
  margin: auto;
}
#text1 {
  border-right: 1px solid black;
  padding: 16px;
}
#booking-form {
  margin-right: 2%;
  flex-grow: 1;
}
.outer {
  padding: 3%;
  display: flex;
  justify-content: space-between;
}
#book-now {
  margin-top: 5%;
  margin-left: 38%;
}
.inner {
  width: 60%;
}
.checked {
  color: orange;
}
._text {
  font-family: cursive;
}
/* Media Query */

@media only screen and (max-width: 576px) {
 .col-4{
   width: 100% !important;
 }
 #book-now{
  margin-bottom: 20px;
 }
 #text1{
  border-bottom: 1px solid;
  border-right: 0 !important;
  width: 100%;
 }
 .slide{
  width: 100% !important;
 }
 #next{
  left: 21em;
 }
 #previous{
   margin-left: -13px !important;
   z-index: 0;
 }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
 #next{
  left: 21em;
 }
 #previous{
   margin-left: -13px !important;
 }

 .slide{
width: 100% !important;
 }
 
}