.listmap {
    color: black;
    text-decoration: none;
    padding: 20px;
  }
  
  ._img {
    height: 200px;
    width: 250px;
  }
  
  .image-container {
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
  }
  .image_container {
    margin-top: 50px;
    display: flex;
  }
  .content {
    background-color: lightgrey;
    width: 40%;
    margin-right: 65px;
    margin-left: 54px;
    display: flex;
  }
  
  ._content {
    background-color: lightgrey;
    width: 40%;
    margin-left: 72px;
    display: flex;
  }
  .sentence {
    margin-left: 25px;
  }