#_img {
  height: 200px;
  width: 250px;
}
.div1 {
  background-color: rgb(132, 136, 139);
  display: flex;
  width: 50%;
  margin: auto;
  margin-top: 7.5em;
  margin-bottom: 20px;
}
.text {
  margin-left: 25px;
  margin-top: 30px;
}
._text {
  padding: 12px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 10em;
  background-color: rosybrown;
}
.width {
  width: 33.3%;
  font-family: cursive;
  margin-left: 5em;
}
#_width {
  margin-top: 25px;
}
#pay-now {
  margin-top: 65px;
}

/* Media query */

@media only screen and (max-width: 576px) {
  
  #_div1 {
    display: block;
    margin-top: 76px;
  }
  #div1 {
    display: block;
    background-color: rgb(132, 136, 139);
  }
  #text {
    text-align: center;
    display: contents;
  }
  .div2{
    padding-bottom: 50px;
  }
  ._text {
    display: block;
  }
  .width {
    margin-left: 1em;
    width: 100%;
  }
  #pay-now{
    margin-top: 40px;
    margin-bottom: 25px;
    text-align: center;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  

  .div1 {
    display: flex;
    width: 95%;
  }
  .width {
    margin: 0;
  }
  #_width {
    padding-left: 15px;
  }
  #pay-now {
    text-align: end;
  }
}