#_img {
    height: 200px;
    width: 250px;
  }
  .div1 {
    background-color: rgb(132, 136, 139);
    display: flex;
    width: 50%;
    margin: 5px auto;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .text {
    margin-left: 25px;
    margin-top: 30px;
  }
  .pay {
    text-decoration: none;
    color: black;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  ._text {
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 12px;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 50px;
    background-color: rosybrown;
  }
  .width {
    width: 33.3%;
    font-family: cursive;
    margin-left: 100px;
  }
  #_width {
    margin-top: 25px;
  }
  #_pay {
    margin-top: 70px;
  }